@tailwind base;
@tailwind components;
/* @tailwind utilities; */

/* NavBar */
:is(html[class~=dark] .nextra-nav-container-blur) {
    background-color: rgba(0,0,0,.8)!important;
}

:is(html[class~=dark] .nextjs-guide-logo) {
    filter: invert(1);
}

/* Body */
:is(html[class~='dark'] body) {
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

/* Theme Toggle & Question? with shadows */
:is(html[class~=dark] .dark\:nx-bg-dark) {
    background-color: rgba(0,0,0,var(--tw-bg-opacity));
}
:is(html[class~=dark] .dark\:nx-shadow-\[0_-12px_16px_\#111\]) {
    --tw-shadow: 0 0px 0px #000;
}

/* Footer */
:is(html[class~=dark] .dark\:nx-bg-neutral-900) {
    --tw-bg-opacity: 1;
    background-color: rgba(0,0,0,var(--tw-bg-opacity));
}

/* TODO: Fix CSS */
/* SideBar */
/* The second layer Title Component to have no left side space & line */
aside > div > div > div > ul > li > div > div > ul {
    padding-left: 0 !important;
    margin-left: 0 !important;
}
aside > div > div > div > ul > li > div > div > ul:before {
    background-color: #000 !important;
}
/* The mutual app & page layer as the second layer Title Component */
aside > div > div > div > ul > li > div > div > ul > li > div > div > ul {
    padding-left: 0 !important;
    margin-left: 0 !important;
}
aside > div > div > div > ul > li > div > div > ul > li > div > div > ul:before {
    background-color: #000 !important;
}
/* Active menu style */
aside > div > div > div > ul > li > div > div > ul > li > a {
    background-color: #000 !important;
}

/* Custom jc- */
.dark\:jc-main-title {
    color: #000;
}
:is(html[class~=dark] .dark\:jc-main-title) {
    color: #fff;
    margin-top: 10px !important;
}
/* The first layer Title Component to be no `>` svg */
.dark\:jc-main-title + svg {
    display: none !important;
}

a:has(.jc-display-none) {
    display: none;
}

/* Blunder */
/* For the div that has app/pages li... */
.nx-pt-1 {
    padding-top: 0rem !important;
}